name: Publish Gem
on:
  release:
    types:
      - "created"


jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Configure trusted publishing credentials
        uses: rubygems/configure-rubygems-credentials@v1.0.0

      - name: Publish to RubyGems
        run: |
          gem build cache_store_redis.gemspec
          gem push cache_store_redis-*.gem
